@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.link-author {
  position: relative;
  z-index: 2;
}

.card-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.search-hidden {
  display: none;
  visibility: hidden;
}

.options-hidden {
  display: none;
  visibility: hidden;
}
