body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 540px;

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
